#success_message{ display: none;}

.hidden{
    display: none !important;
}

.error{
    color:red;
    
}

.container{
    margin: 2rem 25%;
    padding: 1rem 3rem;
}

#registration_form{
    display: flex;
    justify-content: center;
}

.form_container{
    min-width: 50rem;
}

.form-group{
    display: flex;

}

.control-label{
    width: 25%;
    margin: 0.3rem 2rem;
}

.inputGroupContainer{
    width: 50%;
    /* max-height: 1rem; */
}

.input-group{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

#captchaBackground {
    height: auto;
    width: 50%;
    background-color: #2d3748;
    margin: auto 25%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

#textBox {
    height: 1.6rem;
    margin: 0.1rem 0rem 0.3rem;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}