<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- cdn of jQery ui control  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- manual css  -->
    <link rel="stylesheet" href="./header_footer.css">
    <link rel="stylesheet" href="./contact.css">
</head>

<body>
    <body>
        <div class="heading">
    
            <!-- ----------------- header section --------------------------- -->
            <header>
                <div class="logo">
                    <h4>Great Gatsy Banff</h4>
                    <h5>Resort</h5>
                </div>
                <div class="nav">
                    <div class="navbar">
    
                        <li><a href="#"> Home</a></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#"> Booking</a></li>
                        <li><a href="#"> Explore Interest</a></li>
                        <li><a href="#"> Contact Us</a></li>
                        <li><a href="#"> Our Gallery</a></li>
                    </div>
                    <div class="buttons">
                        <button class="btn">login</button>
                        <button class="btn">Register</button>
                    </div>
                </div>
                <!--   show at 1100px of width  -->
                <div class="menu-btn ">
                    <span></span><span></span><span></span>
                </div>
    
                <div class="sidebar">
    
                    <div class="sidebar-items">
                        <li><a href="#"> Home</a></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#"> Booking</a></li>
                        <li><a href="#"> Explore Interest</a></li>
                        <li><a href="#"> Contact Us</a></li>
                        <li><a href="#"> Our Gallery</a></li>
                    </div>
                    <div class="buttons">
                        <button class="btn">login</button>
                        <button class="btn">Register</button>
                    </div>
                </div>
    
    
            </header>
            <!-- --------------- heading seciton ------------ -->
            <div class="linear">
                <h1 v data-aos="zoom-in" style="transition: 1.5s;">Contact To Great <br> gatsy bnaff resort</h1>
            </div>
        </div>

        <!--  ----------- here contact form is written ----------------- -->
        <div class="hidden" id="success-message">

        </div>

        <form id="contact-form" action="" method="post">
            <div class="input-group">
                <input type="text" name="first_name" id="first_name" placeholder="First Name" >
            </div>
            <div class="input-group">
                <input type="text" name="last_name" id="last_name" placeholder="Last Name" >
            </div>
            <div class="input-group">
                <input type="email" name="email" id="email" placeholder="Email-ID" >
            </div>
            <div class="input-group">
                <textarea name="comments" id="comments" cols="60" rows="5"  placeholder="Your Comments"></textarea>
            </div>
            <div class="input-group">
                <input type="tel" name="phone" id="phone" placeholder="Phone No." >
            </div>
            <div class="buttons">
                <button type="submit">Submit</button>
            </div>
        </form>
        
            <!-- ---------- footer seciton --------------- -->
    <section class="footer-section">

        <div class="news">
            <h1 class="h-scondary">Subscribe to Newsletter</h1>
            <div class="subscribe">

                <input type="text" name="sub" id="sub" placeholder="Enter your email Id">


                <button>Subscribe</button>
            </div>
            <h1 class="h-scondary">Follow Links</h1>
            <div class="social-icons">

                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube-play"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>

            </div>
            <div class="copyright">
                <p>&copy; 2022 The Great Gatsy Bnaff Resort. All Rights Reserved.</p>
            </div>
        </div>
        <div class="link-container">
            <div> 
       
        <div class="links">
            <ul>
                <li><a href="#"class="hover-underline-animation"> About Us  </a></li>
                <li><a href="#"class="hover-underline-animation">  Social Responsibility </a></li>
                <li><a href="#"class="hover-underline-animation">  Loyalty </a></li>
                <li><a href="#"class="hover-underline-animation"> Manage Reservations  </a></li>
                <li><a href="#"class="hover-underline-animation">  Contact Us </a></li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li><a href="#"class="hover-underline-animation"> Gift Card  </a></li>
                <li><a href="#"class="hover-underline-animation">  Awards and Accolades</a></li>
                <li><a href="#"class="hover-underline-animation">  Press Room </a></li>
                <li><a href="#"class="hover-underline-animation"> Our Magzines  </a></li>
                <li><a href="#"class="hover-underline-animation">  Travel Diaries  </a></li>
                <li><a href="#"class="hover-underline-animation">  career  </a></li>
            </ul>
        </div>
    </div>
    <div class="privacy">
        <span>privacy Policy</span>
        <span>Legal</span>
        <span>Term and conditons</span>
    </div>
        </div>
        
    </section>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/template/template/template.js"></script>
      <!-- script of jQuery  -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- here add some js file  -->
    <script src="./headerFooter.js"></script>
    <!-- font awesome kit  -->
    <script src="https://kit.fontawesome.com/404ad60a43.js" crossorigin="anonymous"></script>
  
</body>

</html>